
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');


html {
    font-size: 18px;
}

body {
    background-color: #272727;
    color: white;
    font-family: "Martian Mono", monospace;
    margin: 0px;
    /* забираємо стандартні відступи в тега body */
}

body.light-theme {
    background-color: #e6e6e6;
    color: rgb(24, 24, 24);
}

header{
    background: #272727;
}
.btn-search{
    border-radius: 30px;
}
.banner {
    width: 100%;
    height: 90vh;
    background: url('img/photo_2024-09-26_16-12-04.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

main h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.banner h1 {
    font-size: 3rem;
    text-align: center;
    text-shadow: 1px 1px 5px black;
}

.banner h3{
    transform: rotate(7.09deg);
}

.carousel{
    width: 900px;
}
.carousel-own{
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 5px black;
}
.carousel-own img{
    width: 900px;
    height: 700px;
}
.nav-link:hover{
    color: white;
}

.section-two{
    display: flex;
    justify-content: center;

}
.accordion{
    width: 900px;
}

.h1-in-accordion{
    background-color: #6e6e6e;
}

footer {
    margin-top: 50px;
    background: rgb(73, 73, 73);
    padding: 50px 100px;
    color: #c8c8c8;
}


#themeToggle {
    background: transparent;
    color: #fff;
    width: 45px;
    height: 45px;
    font-size: 30px;
    transition: 0.4s transform linear;
    margin: 10px;
    border-color: transparent;
}

#themeToggle:hover {
    transform: scale(1.1);
    transition: 0.4s transform linear;
}

#themeToggle:active {
    transform: scale(0.9);
    transition-duration: .2s;
}

/* Проста анімація появи тексту */

header.fixed {
    position: fixed;
    /* Фіксоване позиціонування */
    top: 0;
    /* Закріплено зверху */
    width: 100%;
    /* Ширина за всю ширину вікна */
    background: #272727;
    max-width: 100%;
    z-index: 100;
}




